<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.widesmart">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:screenOrientation="landscape" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action
                    android:name="com.example.admin.widesmart.MainActivity"
                    android:screenOrientation="landscape" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".LightActivity" >
            <intent-filter>
                <action
                    android:name="com.example.admin.widesmart.LightActivity"
                    android:screenOrientation="landscape" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".VentActivity" >
            <intent-filter>
                <action
                    android:name="com.example.admin.widesmart.VentActivity"
                    android:screenOrientation="landscape" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ProjActivity" >
            <intent-filter>
                <action
                    android:name="com.example.admin.widesmart.ProjActivity"
                    android:screenOrientation="landscape" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CurtActivity">
            <intent-filter>
                <action
                    android:name="com.example.admin.widesmart.CurtActivity"
                    android:screenOrientation="landscape" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>